header, footer
{
	background-color: lightgray;
	border: solid 1px black;
	/*More Specific Styling of headder wins over the generic styling of body*/
	font-family: 'Times New Roman'; 
}
footer
{
	padding: 10px;
	border-radius: 3px;
}
body
{
	font-size: 14px;
	font-family: Segoe UI, Arial; 
}
#main
{
	border: solid 1px #ccc;
	border-radius: 5px;
	margin: 20px 0;
	padding: 5px;
}

#main label
{
	font-weight: bold;
}

#main input[type=text], #main select
{
	width: 150px;
}

#main input[type=submit]
{
	background-color: green;
	color: white;
	border-radius: 10px;
	padding: 3px;
	margin: 3px 0;
}